<div class="agentSection">
    <div class="Agentmain">
        <div class="agentServiceImage">
            <div>
                <img src="/public/Assets/Default/call-to-action.jpg" alt="agent-serivce image" />
            </div>
        </div>
        <div class="AgentSectionInfo">
            <div class="AgentSectionInfo-h1">
                <h1>Contact With Our Certified Agent</h1>
            </div>
            <div class="AgentSectionInfo-p">
                <p>Making an appointment with you and getting the best you
                    want</p>
            </div>
            <div class="AgentSectionInfo-a">
                <a href="/agent"><i class="fa-solid fa-phone"></i> Make a Call</a>
                <a href="/agent"><i class="fa-solid fa-calendar-check"></i> Get
                    Appointment</a>
            </div>
        </div>
    </div>
</div>