 <nav>

        <div class="logo">
                <h1 class="bebas-neue-regular navbar">HomeQuest</h1>
                <div class="smallDeviceLogo" id="option">
                        <i class="fa-solid fa-grip-vertical"></i>
                </div>
        </div>
        <div class="listBox">

                <ul>
                        <a href class="list">Home <i
                                        class="fa-solid fa-house"></i></a>
                        <a href class="list">Search <i
                                        class="fa-solid fa-magnifying-glass"></i></a>
                        <a href class="list">Property</a>
                        <a href class="list">Agents <i
                                        class="fa-regular fa-user"></i></a>
                        <a href class="list">About <i
                                        class="fa-solid fa-users-viewfinder"></i></a>
                        <a href class="list">Profile <i
                                        class="fa-regular fa-hand"></i></a>
                        <a class="Addproperty" href="#">Add Property</a>
                </ul>

        </div>

</nav>