 <!--nav start  -->
<nav class="navbar">
        <div class="logo">
                <a href="#"><h1>HomeQuest</h1></a>
                <div id="hamburger">
                        <i class="fa-solid fa-bars"></i>
                </div>
        </div>
        <div class="nav-items" id="nav-items">
                <a href="/home"><p>Home</p></a>
                <a href="/profile"><p>Profile</p></a>

                <!-- Property Dropdown -->
                <div class="nav-item dropdown">
                        <button class="dropdown-toggle"
                                aria-expanded="false">Property &nbsp;<i
                                        class="fa-solid fa-caret-down"></i></button>
                        <div class="dropdown-content">
                                <ul>
                                        <li><a href="/list">List</a></li>
                                        <li><a href="#">Type</a></li>
                                        <li><a href="#">Agent</a></li>
                                </ul>
                        </div>
                </div>

                <!-- Pages Dropdown -->
                <div class="nav-item dropdown">
                        <button class="dropdown-toggle"
                                aria-expanded="false">Pages &nbsp;<i
                                        class="fa-solid fa-caret-down"></i></button>
                        <div class="dropdown-content">
                                <ul>
                                        <li><a href="#">Error 404</a></li>
                                        <li><a href="#">Testimonial</a></li>
                                </ul>
                        </div>
                </div>

                <a href="#"><p>Contact</p></a>
        </div>
        <div id="profile-img">
<img src="">
        </div>

        <div class="add-property" id="add-property">
                <a href="/add-property">Add Property</a>
        </div>
</nav>

<!-- nav ending -->