# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/
out/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Typescript v1 declaration files
typings/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Coverage directory used by tools like istanbul
coverage/

# Jest test results
jest-test-results.json

# Images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg
*.webp

# Video files (MP4)
*.mp4
*.mkv
*.avi
*.mov
*.flv
*.wmv
*.webm
