<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Agents</title>



  <link rel="stylesheet" href="../public/CascadingStyle/admin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>


  <div id="admin">
    <div id="linkandFormHandling">
      <div id="getLink" class="getLink">
        <a href="#">
          Get Link
        </a>
      </div>
      {{!-- toggle start --}}
      <label class="toggle-switch">
        <input id="turnForm" type="checkbox">
        <div class="toggle-switch-background">
          <div class="toggle-switch-handle"></div>
        </div>
      </label>

      {{!-- toggle end --}}
    </div>
<div id="handleEmail">

        <label for="email">Enter your email:</label>
        <input type="email" id="email" name="email" required placeholder="example@example.com">
        <br><br>
        
        <!-- Input for the link -->
        <label for="link">Enter the link:</label>
        <input type="url" id="link" name="link" required placeholder="https://example.com">
        <br><br>
        
        <!-- Send button -->
        <button type="submit" id="sendButton">Send</button>

</div>

    <div id="admin-main">
      <h1>Add Agents</h1>
      <form action="/handleAdmin" method="POST" enctype="multipart/form-data" id="agent-form">
        <input type="text" id="agentName" name="username" placeholder="Agent Name" required />
        <input type="email" id="agentEmail" name="email" placeholder="Agent Email" required />
        <input type="number" id="agentPhone" name="phone" placeholder="Agent Phone Number" required />
        <input type="text" id="agentBio" name="bio" placeholder="Title" required></input>
        <input type="password" id="agentPassword" name="password" placeholder="Agent Password" required />
        <input type="number" id="agentAdhaar" name="adhaarcard" placeholder="Adhaarcard" required />
        <input type="text" id="agentLicense" name="license" placeholder="Agent License" required />
        <input type="text" id="whatsapp" name="whatsapp" placeholder="Whatsapp" />
        <input type="text" id="instagram" name="instagram" placeholder="Instagram" />
        <input type="text" id="youtube" name="youtube" placeholder="Youtube" />
        <label for="agentPhoto">Agent Photo</label>
        <input type="file" id="agentPhoto" name="photo" accept="image/*" multiple required />

        <p id="error" color="red">{{status}}</p>
        <button id="addAgent" type="submit">Add Agent</button>
      </form>
    </div>

    <div id="agent-list">
      <h2 style="text-align: center;">Existing Agents</h2>
      <div id="agent-cards">
        <!-- Dynamically populate agent cards -->

        <div class="card">
          <div class="image">
            <img src="" alt="thumbnail">
          </div>
          <div class="content">
            <a href="#">
              <span class="title">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </span>
            </a>

            <p class="desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
              dolores, possimus pariatur animi temporibus nesciunt praesentium
            </p>

            <a class="action" href="#">
              See more
              <span aria-hidden="true">
                →
              </span>
            </a>
          </div>
        </div>
        {{!-- dynamic card --}}
      </div>
    </div>
  </div>
  <div style="border-top: 1px solid rgba(0, 0, 0, 0.571);">
    <h1 style="text-align: center;">Feedback</h1>
  </div>
  <div id="feedbacks" style="border-bottom: 1px solid rgba(0, 0, 0, 0.571);">
    <div class="feedback-card">
        <div>
         <p class="small">UserId : <a href="#"></a></p> 
        </div>
        <div>
          <p>Feed Back : </p>
        </div>
    </div>
  </div>
  <div id="logout">
                        <form method="get" action="/profile/logout">
                        <button type="submit" class="logout-button">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                        </form>
                    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/regular.min.js" integrity="sha512-yp4xbJGTx8AEOiU0F5fvbau3PajjDuxEwXpAPNVFtvJK52vjKuvxHLtOvxZFE6UBQr0hWvSciggEZJ82VwpkTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="../public/Script/admin.js"></script>
</body>

</html>