<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
{{>commonCss}}
 <style>
    #demo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        gap: 20px;
    }
 </style>
</head>
<body>
    <div id="demo"><script type="module" src="https://unpkg.com/@splinetool/viewer/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/FVZWbQH2B6ndj9UU/scene.splinecode" events-target="global"></spline-viewer></div>
{{>commonJs}}
<script src="/public/Script/home.js"></script>
</body>
</html>