<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/public/CascadingStyle/login.css" />
</head>
<body>
    <div id="container">
        <div id="container1">
            <span><h4 style="text-align: center;color:#3EB8E5;padding:10px" ><i class="fa-solid fa-house"></i> HomeQuest</h4></i></span>
           <form action="/login" method="post">
             <input id="inp" class="inp" type="text" name="email" placeholder="Email" />
             <input id="inp2" class="inp" type="password" name="password" placeholder="Password" autocomplete="on"/>
             <input class="inp subbtn" type="submit" value="Log In"/>
             {{!-- <a href="/forgetpassword" style="border-radius: 5px;" target="_blank">Forget Password</a>  --}}
             <a href="/signup" style="border-radius: 5px;">Not Registered ? Signup Now</a>
             <p style="text-align: center;color:red">{{error}}</p>
          </form>
        </div>

    </div>

     <script src="/public/Script/login.js"></script>
</body>
</html>