 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    {{!-- {{>commonCss}} --}}
    <link rel="stylesheet" href="/public/CascadingStyle/main.css" />
</head>
<body>
    
       
     <nav id="navbar">
         
        <div id="nc1">
            <li class="img"><a href="/"><img src="/public/Assets/Web/icons8-home-cloud-96.png"></a></li>
            <li style="margin-right : -50rem;"><a href="/signup">Sign  up</a></li>
            <li><a href="/login">Log  in</a></li>
        </div>

     </nav>

    <div id="container">

     <div id="cont1">
       <div id="heading">
        <div id="heading1"><h>Find Your Dream Home with HomeQuest</h></div>
        <div id="heading2">
        <p> Your Gateway to Real Estate Bliss.</p>
       </div>
        </div>
        <div class="obj"></div>
        <div class="obj1"></div>
     </div>

    </div>
 {{!-- {{>commonJs}} --}}
<script src="/public/Script/main.js"></script>
</body>
</html> 








