<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeQuest</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/CascadingStyle/main.css" />
</head>

<body>

    <nav>
        <div>
            <h1>HomeQuest</h1>
        </div>
        <div>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
            </ul>
        </div>
    </nav>
    <div class="video">
        <video src="/stream/intro.mp4" autoplay muted loop playsinline preload="metadata"></video>
    </div>
    <div id="services">
        {{!-- added dynamically the page agent and listing services information --}}
    </div>
                <div class="service1">
        <div>
            <video src="/stream/homepage.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
        <div>
            <video src="/stream/homepage2.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
    </div>
    <div class="service1-info">
        <h1>Home Page</h1>
        <p>Home page after login user will be landed here.</p>
    </div>
    <div class="service1">
        <div>
            <video src="/stream/pages.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
        <div>
            <video src="/stream/pages2.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
    </div>
    <div class="service1-info">
        <h1>Agent Pages</h1>
        <p>Agent with lots of experience can share there point for find the and making you search easier.</p>
    </div>
    <div class="service1">
        <div>
            <video src="/stream/appointment.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
        <div>
            <video src="/stream/appointment2.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
    </div>
    <div class="service1-info">
        <h1>Appointment</h1>
        <p>Book the Appointment with agent to get what are searching for.</p>
    </div>
    <div class="service1">
        <div>
            <video src="/stream/propertyListing.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
        <div>
            <video src="/stream/propertyListing2.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
    </div>
    <div class="service1-info">
        <h1>Property Listing</h1>
        <p>Agents and Users can list there property.</p>
    </div>

    <div class="service1">
        <div>
            <video src="/stream/listing.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
        <div>
            <video src="/stream/listing2.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
    </div>
    <div class="service1-info">
        <h1>Listing</h1>
        <p>All the listing from the users are available in the listing and we can filter on various needs.</p>
    </div>
    <div class="service1">
        <div>
            <video src="/stream/details.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
        <div>
            <video src="/stream/details2.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
    </div>
    <div class="service1-info">
        <h1>Listing Details</h1>
        <p>Every listing has a detailed page view where you can view the comment feed and reply if you know about the
            it.</p>
    </div>
    <div class="service1">
        <div>
            <video src="/stream/profile.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
        <div>
            <video src="/stream/profile2.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
    </div>
    <div class="service1-info">
        <h1>Profile Page</h1>
        <p>User Can reset the username and phone number and password and you can also find the your listing and logout
            is also available.</p>
    </div>
    <div class="service1">
        <div>
            <video src="/stream/dashboard.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
        <div>
            <video src="/stream/dashboard2.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
    </div>
    <div class="service1-info">
        <h1>Agent Dashboard</h1>
        <p>Personalized agent dashoard where agent will see the appointment and there listing .</p>
    </div>
        <div class="service1">
        <div>
            <video src="/stream/agentProfile.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
        <div>
            <video src="/stream/agentProfile2.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
    </div>
    <div class="service1-info">
        <h1>Agent Profile</h1>
        <p>Personalized agent Profile where agent will see the feeds and there listing .</p>
    </div>
            <div class="service1">
        <div>
            <video src="/stream/agentPage.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
        <div>
            <video src="/stream/agentPage2.mp4" autoplay muted playsinline loop preload="metadata"></video>
        </div>
    </div>
    <div class="service1-info">
        <h1>Agent Page Adding</h1>
        <p>Personalized agent page adding  where agent may add there experineces.</p>
    </div>
    
 <div class="loader">
    <div class="loader-bar">

    </div>
 </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"
        integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/regular.min.js"
        integrity="sha512-yp4xbJGTx8AEOiU0F5fvbau3PajjDuxEwXpAPNVFtvJK52vjKuvxHLtOvxZFE6UBQr0hWvSciggEZJ82VwpkTQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/Script/main.js"></script>

</body>

</html>