<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HomeQuest</title>
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <link rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin />
        <link rel="stylesheet"
            href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="../public/CascadingStyle/navbar.css">
        <link rel="stylesheet"
            href="../public/CascadingStyle/propertyDetails.css">
    </head>
    <body>

        {{>navbar}}
        <div class="overview-container">
            <div class="overview-images">
                 <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="https://demo.htmlcodex.com/2259/real-estate-html-template/img/carousel-1.jpg"></div>
      <div class="swiper-slide"><img src="https://demo.htmlcodex.com/2259/real-estate-html-template/img/carousel-1.jpg"></div>
      <div class="swiper-slide"><img src="https://demo.htmlcodex.com/2259/real-estate-html-template/img/carousel-1.jpg"></div>
      <div class="swiper-slide"><img src="https://demo.htmlcodex.com/2259/real-estate-html-template/img/carousel-1.jpg"></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
    <div class="autoplay-progress">
      <svg viewBox="0 0 48 48">
        <circle cx="24" cy="24" r="20"></circle>
      </svg>
      <span></span>
    </div>
  </div>
            </div>
            <div class="main-image-description">
                <div class="image-owner">
                    <i>By Owner name</i>
                </div>
                <div class="image-title">
                    <h1>
                        Title
                    </h1>
                </div>
                <div class="image-location">
                    <p>
                        Location
                    </p>
                </div>
                <div class="image-price">
                    <p>
                        price
                    </p>
                </div>
                <div class="image-abb">
                    <div>
                        <p>
                            Area
                        </p>
                    </div>
                    <div>
                        <p>
                            Bedroom
                        </p>
                    </div>
                    <div>
                        <p>
                            Bathroom
                        </p>
                    </div>
                </div>
                <div class="image-listingType">
                    <p>
                        ListingType
                    </p>
                </div>
                <div class="propertyType">
                    <p>
                        PropertyType
                    </p>
                </div>
                <div class="views-like">
                    <div class="view">
                        <i class="fa-regular fa-eye"></i> <p>2</p>
                    </div>
                    <div class="like">
                        <i class="fa-solid fa-thumbs-up"></i><p>2</p>
                    </div>
                </div>

                <div class="left-right-button">
                    <div id="left">
                        <i class="fa-solid fa-chevron-left"></i>
                    </div>
                    <div id="right">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
                <div class="image-navigation">
                    <div>
                        <img class="image-blur"
                            src="https://demo.htmlcodex.com/2259/real-estate-html-template/img/about.jpg">
                    </div>
                    <div>
                        <img
                            src="https://demo.htmlcodex.com/2259/real-estate-html-template/img/about.jpg">
                    </div>
                    <div>
                        <img class="image-blur"
                            src="https://demo.htmlcodex.com/2259/real-estate-html-template/img/about.jpg">
                    </div>

                </div>

            </div>
        </div>
 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"
            integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script
            src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/regular.min.js"
            integrity="sha512-kOmvRi+0imoekwslOzP/X1LXQnzcttzqYYt3urKD4nhd5fMYwRfXgDS5Nh7b7pQjKPjBPSX9PmhCLrkfkxUcBQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../public/Script/navbar.js"></script>
        <script src="../public/Script/propertyDetails.js"></script>
    </body>
</html>