<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HomeQuest</title>


        <!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <link rel="stylesheet" href="../public/CascadingStyle/navbar.css">
        <link rel="stylesheet"
            href="../public/CascadingStyle/propertListing.css">
    </head>
    <body>
        {{>navbar}}
      



<div id="look">
    <div id="look-main">
        <div id="Thumbnail">
            <div>
                <img src="https://demo.htmlcodex.com/2259/real-estate-html-template/img/property-1.jpg" id="imgpreview">
            </div>
            <div class="property-type">
                <p id="property-type">Type</p>
            </div>
            <div class="add-listing">
                <p id="listing-type">List</p>
            </div>
        </div>

        <div id="property-info">
            <div><p id="pricePreview">Price Here</p></div>
            <div><h2 id="property-title">Property Title</h2></div>
            <div><p id="loca">Location</p></div>
            <div id="amenities">
                <div><i class="fa-solid fa-ruler-combined"></i>&nbsp; <p id="areapreview">Sqft</p></div>
                <div><i class="fa-solid fa-bed"></i>&nbsp; <p id="bedPreview">Room</p></div>
                <div><i class="fa-solid fa-bath"></i>&nbsp; <p id="washRoom">Washroom</p></div>
            </div>
        </div>
    </div>
<br>
    <h2>Location on Map</h2>
    <div id="map"></div>
<div id="locationStatus">
    <p></p>
    <div id="animationLine">

    </div>
</div>
    <form action="/upload-property" method="post" enctype="multipart/form-data" id="form">
    
        <h1>Add Property Details</h1>
<br>
        <input type="text" id="propertyTitle" name="title" placeholder="Property Title" required />
        <select id="propertyType" name="propertyType" required>
            <option value disabled selected>Select Property Type</option>
            <option value="Apartment">Apartment</option>
            <option value="House">House</option>
            <option value="Villa">Villa</option>
            <option value="Commercial">Commercial</option>
        </select>
        <select id="listingType" name="listingType" required>
            <option value disabled selected>Select Listing Type</option>
            <option value="For Sale">For Sale</option>
            <option value="For Rent">For Rent</option>
        </select>
        <input type="number" id="price" name="price" placeholder="Price" min="1" required />

        <select id="state" name="state" required>
            <option value="" disabled selected>Select State</option>
        </select>

        <input type="number" id="pincode" name="pincode" placeholder="Pincode" required />
        <p id="pincodeStatus" style="color: rgba(255, 99, 71, 0.725); font-weight: 200;"></p>
        <input type="text" id="location" name="location" placeholder="Location" required />
        <div id="suggestions" style="border: 1px solid #ddd; display: none; "></div>

        <input type="number" id="latitude" name="latitude" placeholder="Latitude" readonly>
        <input type="number" id="longitude" name="longitude" placeholder="Longitude" readonly>
        <input type="number" id="area" name="area" placeholder="Area (in Sq Ft)" min="1" required />
        <input type="number" id="bedrooms" name="bedrooms" placeholder="No. of Bedrooms" min="1" required />
        <input type="number" id="bathrooms" name="bathrooms" placeholder="No. of Bathrooms" min="1" required />

        <h2>Upload Images</h2>
       <label for="propertyVideo">Property Video</label>
<input type="file" id="propertyVideo" name="propertyVideo" accept="video/*" required />
<div id="videoError" style="color: red; margin-top: 10px; opacity: 0; transition: opacity 0.5s;"></div>


        <label for="thumbnailImage">Thumbnail Image</label>
        <input type="file" id="thumbnailImage" name="thumbnail" accept="image/*" required />

 <label for="propertyImages">Property Images</label>
<input type="file" id="propertyImages" name="propertyImages" accept="image/*" multiple required />
<div id="imageError" style="color: red; margin-top: 10px; opacity: 0; transition: opacity 0.5s;"></div>

        <button id="submit" type="submit">Upload</button>
    </form>
</div>


</body>

<!-- Leaflet JS -->

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/regular.min.js"
            integrity="sha512-kOmvRi+0imoekwslOzP/X1LXQnzcttzqYYt3urKD4nhd5fMYwRfXgDS5Nh7b7pQjKPjBPSX9PmhCLrkfkxUcBQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../public/Script/navbar.js"></script>
        <script src="../public/Script/propertLsitng.js"></script>
    </body>
</html>