<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
     {{>commonCss}}
    <link href="/public/CascadingStyle/signup.css" type="text/css"  rel="stylesheet"  type="text/css" />
</head>
<body>
    <div id="container">
        <h1 style="padding-top: 25px;">Register</h1>
          <form action="/signup/login" method="post">
            
             <input class="inp" type="text" name="username" placeholder="Username" />
             <input class="inp" type="email" name="email" placeholder="Email" />
             <input class="inp" type="password" name="password" placeholder="Password" autocomplete="on"/>
             <input class="inp subbtn" type="submit" value="Register"/>
             <a href="/signup/loginUser">Already a user ? Login Now</a>
             <p style="text-align: center;color:red">{{error}}</p>
          </form>
    </div>
</body>
</html>