<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
     {{!-- {{>commonCss}} --}}
    <link rel="stylesheet" href="/public/CascadingStyle/signup.css" >
</head>
<body>
    <div id="container">
        <div id="container1">
            <span><h4 style="text-align: center;color:#3EB8E5;padding:10px;position:relative;top:50px"><i class="fa-solid fa-house"></i> HomeQuest</h4></i></span>
           <form action="/signup" method="post">
           <input  class="inp" type="text" name="username" placeholder="Username" />
             <input id="inp" class="inp" type="text" name="email" placeholder="Email" />
             <input id="inp2" class="inp" type="password"  placeholder="Password" autocomplete="on"/>
             <input id="inp3" class="inp" type="password" name="password"  placeholder="Confirm Password" autocomplete="on"/>
             <p id="eyebtn" >Show Password🫣</p>
             <input class="inp subbtn" id="register" type="submit" value="Register"/>
             <a href="/login" style="margin-top: -42px;border-radius:8px">Already Registered ? Login Now</a>
             <p style="text-align: center;color:red" id="alert"></p>
             <p style="text-align: center;color:red">{{error}}</p>
          </form>
        </div>
    </div>
    
     
     {{!-- {{>commonJs}} --}}

     <script src="../public/Script/signup.js"></script>
</body>
</html>