* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    background-color: #EFFDF5;
}

body {
    /* height: 200vh; */
    /* border: 2px solid black; */
    margin: 0px 13vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

h1 {
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 30px;
    font-family: inter, sans-serif;
}

p {
    font-size: 18px;
    font-family: heebo, sans-serif;
}

a {
    text-decoration: none;
    color: #0E2E50;
    font-size: 18px;
    font-family: heebo, sans-serif;
}


/* heading topic  */
#topic-template {
    margin-top: -2%;
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;

}

#topic-template-1 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: white;
    width: 50%;
}

#topic-template-1 div h1 {

    font-size: 52px;
    color: #0E2E50;
    font-weight: 800;
}

#topic-template-1 div p {
    font-family: heebo, sans-serif;
    font-weight: 300;
    width: 90%;
    text-align: justify;
    color: #666565;
}

.getStarted {
    margin-top: 5%;
    align-self: self-start;
}

#topic-template-1 div a {
    text-decoration: none;
    color: white;
    padding: 25px 32px;
    background-color: #00B98E;
    border-radius: 5px;
}

#topic-template-2 {
    /* background-color: red; */
    width: 50%;
}

#topic-template-2 div img {
    width: 100%;
    height: 45%;
}

#leftRightButton {
    width: 4%;
    top: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#leftRightButton div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    border-radius: 50%;
    background-color: #00B98E;
    font-size: 1.5rem;
}



.fade-in {
    transition: all 0.2s ease-in-out;
    opacity: 1;
    /* Fully visible */
}

/* heading end */
/* search box start */

#searchBox {
    padding: 30px 1px;
    flex-wrap: nowrap;
    border-radius: 2px;
    width: 100%;
    background-color: #00B98E;
    display: flex;
    flex-direction: column;
    /* Changed to column for stacking elements */
    justify-content: center;
    align-items: center;
}

#searchBox form {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



#searchBox input {
    width: 25%;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#searchBox input::placeholder {
    color: #888888;
    font-weight: 400;
}

/* Styles for select elements */
.styled-select {
    width: 25%;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

/* Styles for the submit button */
.styled-button {
    width: 20%;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    background-color: #0E2E50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Change button color on hover */
.styled-button:hover {
    background-color: #0c2437;
    /* Darker shade on hover */
}

/* Styles for dropdown box */

#map{
    z-index: 1;
    margin: 2%;
    /* display: none; */
    /* position: relative; */
    width: 95%;
    height:550px;
}

/* property-type start */
.property-type {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

.property-type-heading {
    padding: 30px 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.property-type-heading div {
    width: 80%;
    text-align: center;
}

.property-type-heading p {
    color: #666565;
}

.property-type-heading h1 {
    color: #0E2E50;
}

/* prroperty-type end  */


/* Responsive Adjustments */
@media (max-width: 768px) {
    body {
        margin: 0;
    }


    /* heading topic  */
    #topic-template {

        width: 100%;
        display: flex;
        flex-direction: column-reverse;

    }

    #topic-template-1 {
        width: 100%;
        padding: 20px 20px;
        gap: 30px;
    }

    #topic-template-1 div h1 {
        font-size: 35px;
    }

    #topic-template-1 div a {
        padding: 22px 35px;
    }

    #topic-template-2 {
        width: 100%;
    }

    #leftRightButton {
        width: 10%;
        top: 25%;
        left: 8%;

    }

    #leftRightButton div{
        padding: 60%;
        background-color: #00b98ef3;
    }

    /* searchbox */
    #searchBox form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 90%;
    }

    #searchBox input {
        width: 80%;
        padding: 20px 15px;
    }

    .styled-select {
        width: 80%;
        padding: 20px 15px;
    }

    .styled-button {
        width: 80%;
        padding: 20px 15px;
    }

    option {
        width: 10%;
    }

    /* searchbox end */

}








/* Media query for mobile devices in landscape orientation (up to 767px) */
@media (max-width: 767px) and (orientation: landscape) {
    /* Styles for mobile devices in landscape mode go here */
}

/* Media query for tablets in landscape orientation (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* Styles for tablets in landscape mode go here */
}